html, body {
  margin: 0;
  align-items: center;
  text-align: center;
}
canvas {
  display: block;
  margin: 0;
}

#one {
  display: block;
  width:800px;
  height:600px;
}

#two {
  display: block;
  margin-top: 10px;
  width:800px;
  height:600px;
}


button {
  font-family: 'Nunito', 'Roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: 0;

  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

.button_icon {
  border: 0;
  padding: audto;
  border-radius: 7%;
  /* background: none; */
  color: #000;
  display: inline-block;
  float: left;
}

.button_icon i {
  font-size: 80px;
}